
:root{
    --font-body:    'DM Sans', system-ui, sans-serif;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
}

main {
  display: flex;
}

main > .contenido {
  flex-grow: 1;
}


.mesas{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}